.component-base {
    padding: 0 100px 0 100px;
    position: relative;
}
.editor-features {
	position: absolute;
	top: 0;
	right: 100px;
}

.locked .editor-features{

}
.locked {
    .component-manager-class {
        .editor-features {
            display: none;
        }
        outline: none;
    }
    .editor-features {
        .glyphicon {
            display: none;
        }
        .glyphicon-lock {
            display: inline;
            color: red;
        }
    }
    
    .hide-on-lock {
        display: none;
    }
    &.component-manager-class {
        outline: none;
    }
}

.componet-section {
    min-height: 30px;
    position: relative;
}

.ta-editor {
    height: auto;
    border: 0;
    background: 0;
    box-shadow: none;
}
.ta-root {
    .fa {
        line-height: 20px;
    }
}

.page-title {
    width: 100%;
    border: 0;
    height: auto;
    background: none;
    resize: none;
}