<!--#include virtual="head-assets.html" -->
<body>
	<!--#include virtual="../base/header/index.html" -->
  <div class="base-layout">
    
    <div class="page-container" ng-controller="pageCtrl">
      
      <div class="editor-features">
        <a class="glyphicon glyphicon-wrench" href="#" role="button" ng-click="openPageSettings( )">
        </a>
        <a class="glyphicon glyphicon-lock" href="#" role="button" ng-click="lockComponent()">
        </a>
      </div>

      <h1 ng-bind="data.pageTitle">
        Page Title comes here
      </h1>

      <section class="section-container" ng-repeat="section in sections" section-manager>
        <div class="editor-features">
          <a class="glyphicon glyphicon-wrench" href="#" role="button" ng-click="openSectionSettings( section )">
          </a>
          <a class="glyphicon glyphicon-trash" href="#" role="button" ng-click="deleteComponent( section )">
          </a>
          <a class="glyphicon glyphicon-lock" href="#" role="button" ng-click="lockComponent( section )">
          </a>
        </div>
        <div class="componet-section" ng-repeat="component in components">
          <div ng-include="getComponetTemplate( component )">
          </div>
        </div>

        <div class="text-center">
          <a class="btn btn-primary btn-sm" href="#" role="button" ng-click="openComponets()">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
          <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        </div>
      </section>


      <div class="jumbotron">
        <div class="text-center">
          <a class="btn btn-primary btn-lg" href="#" role="button" ng-click="addNewSection()">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
          <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        </div>
      </div>
    </div>




  </div>

  <!--#include virtual="../base/footer/index.html" -->
  <!--#include virtual="footer-assets.html" -->


<script type="text/ng-template" id="editorControllers.html">
    <div class="modal-header">
        <h3 class="modal-title">sectionSettings!</h3>
    </div>
    <div class="modal-body">
        sectionSettings {{data.data}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="title-text-component.html">
  <div class="title-text-component" editor-manager>
    <div class="editor-features">
      <a class="glyphicon glyphicon-pencil" href="#" role="button" ng-click="editComponent( component )">
      </a>
      <a class="glyphicon glyphicon-trash" href="#" role="button" ng-click="deleteComponent( component )">
      </a>
      <a class="glyphicon glyphicon-lock" href="#" role="button" ng-click="lockComponent( component )">
      </a>
    </div>
    <h2 ng-bind="component.data.title || 'section title here'">

    </h2>
    <div class="rich-text-content">
      <p ng-bind="component.data.description || 'description'">
      </p>
    </div>
  </div>
</script>


<script type="text/ng-template" id="component-editor-popup.html">
  <div class="modal-header">
      <h3 class="modal-title">Editor !!!!</h3>
  </div>
  <div class="modal-body">
    <div ng-include="component.editorTemplate"></div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="editor-title-text-component.html">

  <div class="form-horizontal">
    <div class="form-group">
      <label for="id-editor-title-text-title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" ng-model="component.data.title" class="form-control" id="id-editor-title-text-title"  placeholder="Title">
      </div>
    </div>
    <div class="form-group">
      <label for="id-editor-title-text-description" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea ng-modal="" ng-model="component.data.description" class="form-control" id="id-editor-title-text-description" placeholder="description">
        </textarea>
      </div>
    </div>
  </div>
</script>


<script type="text/ng-template" id="sectionSettings.html">
  
  <div class="form-horizontal">
    <div class="form-group">
      <label for="id-sectionSettings-short-description" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" ng-model="section.data.shortDescription" class="form-control" id="id-sectionSettings-short-description"  placeholder="short-sescription">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="section.data.arrowRequired">Want arrow for next section</label>
        </div>
      </div>
    </div>
  </div>

</script>


<script type="text/ng-template" id="common-pop-up.html">
  <div class="modal-header">
      <h3 ng-bind="common.modalHeader" class="modal-title"></h3>
  </div>
  <div class="modal-body">
    <div ng-if="common.template" ng-include="common.template"></div>
    <div ng-if="common.modalBody" ng-bind="common.modalBody"></div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="pageSettings.html">
  <div class="form-horizontal">
    <div class="form-group">
      <label for="id-pageSettings-title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" ng-model="common.data.pageTitle" class="form-control" id="id-pageSettings-title"  placeholder="page title">
      </div>
    </div>
  </div>
</script>


<script type="text/ng-template" id="componets-list.html">
  <div class="form-horizontal">
    <div class="checkbox">
      <label><input type="radio" ng-model="common.data.name" name="component" value="title-text-component"> title text component </label>
    </div>
  </div>
</script>


</body>
</html>